{% extends 'clientes/base.html' %}
{% load static %}

{% block title %}Clientes{% endblock %}

{% block content %}

    <div class="main-container">
        <div class="top-bar">
            <a href="{% url 'dashboard' %}" class="btn-back">
                ←  Dashboard
            </a>
        </div>

        <div class="header">
         <h1>Clientes</h1>
              <div class="header-actions">    
                <a href="{% url 'exportar_clientes' %}" class="btn-red">Exportar CSV</a>
              <a href="/clientes/nuevo/" class="btn-red-outline">Nuevo Cliente</a>     
        </div>
    </div>

   <!-- BÚSQUEDA -->
    <form method="GET" class="search-bar">
    <input 
        type="text" 
        name="q" 
        placeholder="Buscar cliente..." 
        value="{{ query|default:'' }}"
    >
    <button type="submit" class="btn-red">Buscar</button>
    <a href="/" class="btn-red-outline">Limpiar</a>
</form>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Género</th>
                <th>Teléfono</th>
                <th>Tipo</th>
                <th>Certificado</th>
                <th>Documento</th>
                <th>Contrato</th>
                <th>Acciones</th>
                <th>Ingreso</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>

                <td>
                    <a href="{% url 'detalle_cliente' cliente.id %}" class="cliente-link">
                        {{ cliente.nombre }} {{ cliente.apellido }}
                    </a>
                </td>

                <td>{{ cliente.get_genero_display }}</td>

                <td>{{ cliente.telefono }}</td>

                <td>{{ cliente.get_tipo_inscripcion_display }}</td>

                <td>
                    {% if cliente.certificado_medico %}
                        <a href="{{ cliente.certificado_medico.url }}" class="btn-action" target="_blank">
                            Ver
                        </a>
                    {% else %}
                        <span class="text-muted">No</span>
                    {% endif %}
                </td>

                <td>
                    {% if cliente.documento_adicional %}
                        <a href="{{ cliente.documento_adicional.url }}" class="btn-action" target="_blank">
                            Ver
                        </a>
                    {% else %}
                        <span class="text-muted">No</span>
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'generar_contrato' cliente.id %}" class="btn-action">
                        PDF
                    </a>
                </td>

                <td>
                    <a href="{% url 'editar_cliente' cliente.id %}" class="btn-action">
                        Editar
                    </a>

                    {% if cliente.activo %}
                        <a href="{% url 'baja_cliente' cliente.id %}" class="btn-action">
                            Baja
                        </a>
                    {% else %}
                        <span class="badge-inactivo">Inactivo</span>
                    {% endif %}
                </td>

                <td>
                    {{ cliente.fecha_inscripcion|date:"d/m/Y" }}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    <nav>
    <ul class="pagination">

        {% if clientes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1&q={{ query }}">Primera</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.previous_page_number }}&q={{ query }}">Anterior</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Página {{ clientes.number }} de {{ clientes.paginator.num_pages }}
            </span>
        </li>

        {% if clientes.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.next_page_number }}&q={{ query }}">Siguiente</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ clientes.paginator.num_pages }}&q={{ query }}">Última</a>
            </li>
        {% endif %}

    </ul>
</nav>

</div>
{% endblock %}