{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Code4Boxing - Revisa tu correo</title>

    <link rel="stylesheet" href="{% static 'clientes/styles.css' %}">
</head>

<body class="login-body">
    <div class="login-card">
        <h3>Revisa tu correo</h3>

        <p>
            Si el email existe, recibirás un enlace para cambiar tu contraseña.
        </p>

        <a href="{% url 'login' %}" class="btn btn-login mt-3">
            Volver al login
        </a>
    </div>
</body>
</html>